@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url('./styles/header.css');
@import url('./styles/techbar.css');
@import url('./styles/beginnings.css');
@import url('./styles/projects.css');
@import url('./styles/descriptions.css');
@import url('./styles/footer.css');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: white;
}
