@media only screen and (max-width: 480px){
    .beginning-body{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}

.beginning-body{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.fing-background{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
    height: 440px;
    width: 400px;
    max-width: 380px;
    background-image: url('../images/finger-guy.jpg');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    box-shadow: 4px 5px 10px 2px rgba(88, 88, 88, 0.342);
}

.fing-quote{
    padding: 12px;
    font-size: 25px;
    font-weight: 500;
    color: white;
    text-align: center;
    background-color: rgba(153, 153, 153, 0.342);
    margin-bottom: 20px;
    transition: all;
    transition-duration: 1s;
    cursor: default;
}

.sliding-story-hidden{
    transform: translate(500%);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 440px;
    max-width: 380px;
    background-color: #454152;
    border-radius: 5px;
    box-shadow: 4px 5px 10px 2px rgba(88, 88, 88, 0.342);
    margin-bottom: 50px;
    overflow-y: scroll;
    transition: all;
    transition-duration: 2s;
}

.sliding-story{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 440px;
    max-width: 380px;
    background-color: #454152;
    border-radius: 5px;
    box-shadow: 4px 5px 10px 2px rgba(88, 88, 88, 0.342);
    margin-bottom: 50px;
    overflow-y: scroll;
    transition: all;
    transition-duration: 1s;
}

.sliding-story::-webkit-scrollbar{
    display: none;
}

.timeline{
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    color: white;
}

.down-arrow{
    align-self: center;
    color: white;
    font-size: 28px;
}

.arrow-dates{
    margin-top: 15px;
    color: white;
    text-align: center;
}

.starting-message{
    padding: 15px;
    font-size: 18px;
    text-align: center;
    color: white;
}

.edx-part{
    padding: 15px;
    font-size: 18px;
    text-align: center;
    color: white;
}
