.footer-divider{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 290px;
    height: 60px;
    border-top: solid 1px black;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.contact-me{
    font-size: 25px;
}

.contact-linked{
    color: rgb(24, 73, 138);
    font-size: 40px;
}

.contact-twitter{
    color: rgb(56, 120, 204);
    font-size: 40px;
}

.contact-links{
    color: black;
    font-size: 40px;
}

.contact-email{
    color: rgb(204, 44, 44);
    font-size: 40px;
}