.tech-bar-wrapper{
    display: flex;
    align-items: center;
    padding: 20px;
    /* padding-left: 5px; */
    height: 100px;
    overflow-x: scroll;
    border-bottom: solid 1px black;
    margin: 10px;
}

.tech-bar-wrapper::-webkit-scrollbar{
    display: none;
}

.tooltiptext{
    opacity: 0%;
    width: 80px;
    font-size: 9px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 72px;
    left: -5px;
    z-index: 1;
    transition: all;
    transition-duration: 1s;
}

.html-logo{
    height: 70px;
    width: 70px;
    min-width: 70px;
    background-image: url('../images/techpics/html.png');
    background-size: 70px;
    margin-right: auto;
    transition: all;
    transition-duration: 1s;
}


.html-logo:hover{
    transition: all;
    transition-duration: 1s;
    transform: scale(1.16, 1.162);
}

.html-logo:hover .tooltiptext{
    transition: all;
    transition-duration: 1s;
    opacity: 100%;
}

.css-logo{
    height: 70px;
    width: 70px;
    min-width: 70px;
    background-image: url('../images/techpics/css.png');
    background-size: 62px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    transition: all;
    transition-duration: 1s;
}

.css-logo:hover{
    transition: all;
    transition-duration: 1s;
    transform: scale(1.16, 1.162);
}

.css-logo:hover .tooltiptext{
    transition: all;
    transition-duration: 1s;
    opacity: 100%;
}

.js-logo{
    height: 70px;
    width: 70px;
    min-width: 70px;
    background-image: url('../images/techpics/javascript.png');
    background-size: 67px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    transition: all;
    transition-duration: 1s;
}

.js-logo:hover{
    transition: all;
    transition-duration: 1s;
    transform: scale(1.16, 1.162);
}

.js-logo:hover .tooltiptext{
    transition: all;
    transition-duration: 1s;
    opacity: 100%;
}

.mui-logo{
    height: 70px;
    width: 70px;
    min-width: 70px;
    background-image: url('../images/techpics/material-ui.png');
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    transition: all;
    transition-duration: 1s;
}

.mui-logo:hover .tooltiptext{
    transition: all;
    transition-duration: 1s;
    opacity: 100%;
}

.mui-logo:hover{
    transition: all;
    transition-duration: 1s;
    transform: scale(1.16, 1.162);
}

.pgs-logo{
    height: 70px;
    width: 70px;
    min-width: 70px;
    background-image: url('../images/techpics/postgre.png');
    background-size: 67px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    transition: all;
    transition-duration: 1s;
}

.pgs-logo:hover{
    transition: all;
    transition-duration: 1s;
    transform: scale(1.16, 1.162);
}

.pgs-logo:hover .tooltiptext{
    transition: all;
    transition-duration: 1s;
    opacity: 100%;
}

.sqlize-logo{
    height: 70px;
    width: 70px;
    min-width: 70px;
    background-image: url('../images/techpics/sequelize.png');
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    transition: all;
    transition-duration: 1s;
}

.sqlize-logo:hover{
    transition: all;
    transition-duration: 1s;
    transform: scale(1.16, 1.162);
}

.sqlize-logo:hover .tooltiptext{
    transition: all;
    transition-duration: 1s;
    opacity: 100%;
}

.react-logo{
    height: 70px;
    width: 70px;
    min-width: 70px;
    background-image: url('../images/techpics/react.png');
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    transition: all;
    transition-duration: 1s;
}

.react-logo:hover{
    transition: all;
    transition-duration: 1s;
    transform: scale(1.16, 1.162);
}

.react-logo:hover .tooltiptext{
    transition: all;
    transition-duration: 1s;
    opacity: 100%;
}

.python-logo{
    height: 70px;
    width: 70px;
    min-width: 70px;
    background-image: url('../images/techpics/python.png');
    background-size: 64px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    transition: all;
    transition-duration: 1s;
}

.python-logo:hover{
    transition: all;
    transition-duration: 1s;
    transform: scale(1.16, 1.162);
}

.python-logo:hover .tooltiptext{
    transition: all;
    transition-duration: 1s;
    opacity: 100%;
}

.flask-logo{
    height: 70px;
    width: 70px;
    min-width: 70px;
    background-image: url('../images/techpics/flask.png');
    background-size: 57px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    transition: all;
    transition-duration: 1s;
}

.flask-logo:hover{
    transition: all;
    transition-duration: 1s;
    transform: scale(1.16, 1.162);
}

.flask-logo:hover .tooltiptext{
    transition: all;
    transition-duration: 1s;
    opacity: 100%;
}